---
import { basics, skills } from "@cv"

interface Props {
    title: string
}

const { title } = Astro.props

const { image } = basics

const keywordsMeta = new Set();

skills.forEach(({name, keywords}) => {
    keywordsMeta.add(name)
    keywords.forEach((key) => {
        keywordsMeta.add(key)
    })
})

---
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{title}</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
        <link rel="preload" as="image" href={image}/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
        <meta name="author" content="Luca Piccinini"/>
        <meta name="keywords" content={Array.from(keywordsMeta).join(",")}/>
        <meta name="description" content={basics.summary}/>
    </head>
    <body>
        <slot/>
    </body>
</html>

<style is:global>
    html {
        font-family: VT323;
        letter-spacing: -0.025rem;
    }

    body,
    figure {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

  *,
  *::before,
  *::after {
        box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    h4 {
        margin: 0;
    }

    .print {
        display: none !important;
    }

    @media print {
        .no-print {
            display: none !important;
        }

        .print {
            display: block !important;
        }
    }
</style>
