---
import Layout from "@/layouts/Layout.astro"
import Hero from "@/components/sections/Hero.astro"
import Experiencie from "@/components/sections/Experiencie.astro"
import Skill from "@/components/sections/Skill.astro"
import Education from "@/components/sections/Education.astro"
import Languages from "@/components/sections/Languages.astro"
---

<Layout title="Luca Piccinini CV">
	<main>
		<Hero/>
		<Experiencie/>
		<Education/>
		<Languages/>
		<Skill/>
	</main>
</Layout>

<style>
	main {
		padding: 5rem 20rem;
		margin: auto;
		width: 100%;
	}

	@media (width <= 1200px) {
		main {
			padding: 5rem 15rem;
		}
	}

	@media (width <= 800px) {
		main {
			padding: 5rem 5rem;
		}
	}

	@media (width <= 700px) {
		main {
			padding: 2rem;
		}
	}
</style>
